.scrollUp {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background: var(--title-color-dark);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollUp-icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

/* showScroll */
.show-scroll {
    bottom: 3rem;
}


/*========== BreakPoints ==========*/
/* For Large Device */
@media screen and (max-width: 992px) {
    .scrollUp {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollUp-icon {
        font-size: 1.25rem;
    }
}

/* For Medium Device */
@media screen and (max-width: 768px) {
    .scrollUp {
        display: none;
    }
}