.projects-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.7rem;
    margin-bottom: var(--m-2);
}

.projects-item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    transition: 0.3s ease-in;
}

.projects-item:hover {
    background-color: var(--title-color);
    color: var(--container-color)
}

.projects-container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.project-card {
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.project-img {
    width: 295px;
    height: 70%;
    border-radius: 7px;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--m-0-5);
    margin-top: 10px;
    color: var(--title-color-dark);
}

.project-button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.project-button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.project-button:hover .project-button-icon {
    transform: translateX(0.25rem);
}

/* active projects  */
.active-projects {
    background-color: var(--title-color);
    color: var(--container-color);
}



/*========== BreakPoints ==========*/
/* For Large Device */
@media screen and (max-width: 992px) {
    .projects-container {
        gap: 1.25rem;
    }

    .project-card {
        padding: 1rem;
    }

    .project-img {
        margin-bottom: 0.75rem;
    }

    .project-title {
        margin-bottom: 0.25rem;
    }
}

/* For Medium Device */
@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns: max-content;
    }
}

@media screen and (max-width: 576px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-img {
        width: 100%;
    }
}

/* For Small Device */
@media screen and (max-width: 350px) {
    .projects-item {
        font-size: var(--small-font-size);
    }

    .projects-filters {
        column-gap: 0.25rem;
    }
}